#### Import the Necessary Libraries

In [1]:
import os
import json
import numpy
import datetime
import pandas as pd

import pymongo
from sqlalchemy import create_engine

#### Declare & Assign Connection Variables for the MongoDB Server, the MySQL Server & Databases with which You'll be Working

In [2]:
mysql_uid = "root"
mysql_pwd = "Passw0rd123"

atlas_cluster_name = "sandbox.zibbf"
atlas_user_name = "m001-student"
atlas_password = "m001-mongodb-basics"

conn_str = {"local" : f"mongodb://localhost:27017/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net"
}

src_dbname = "supermart"
dst_dbname = "supermart"

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['local']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb://localhost:27017/

#### Define Functions for Getting Data From and Setting Data Into Databases

In [3]:
def get_sql_dataframe(user_id, pwd, db_name, sql_query):
    '''Create a connection to the MySQL database'''
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@localhost/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    
    '''Invoke the pd.read_sql() function to query the database, and fill a Pandas DataFrame.'''
    conn = sqlEngine.connect()
    dframe = pd.read_sql(sql_query, conn);
    conn.close()
    
    return dframe


def get_mongo_dataframe(connect_str, db_name, collection, query):
    '''Create a connection to MongoDB'''
    client = pymongo.MongoClient(connect_str)
    
    '''Query MongoDB, and fill a python list with documents to create a DataFrame'''
    db = client[db_name]
    dframe = pd.DataFrame(list(db[collection].find(query)))
    dframe.drop(['_id'], axis=1, inplace=True)
    client.close()
    return dframe


def set_dataframe(user_id, pwd, db_name, df, table_name, pk_column, db_operation):
    '''Create a connection to the MySQL database'''
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@localhost/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()
    
    '''Invoke the Pandas DataFrame .to_sql( ) function to either create, or append to, a table'''
    if db_operation == "insert":
        df.to_sql(table_name, con=connection, index=False, if_exists='replace')
        sqlEngine.execute(f"ALTER TABLE {table_name} ADD PRIMARY KEY ({pk_column});")
            
    elif db_operation == "update":
        df.to_sql(table_name, con=connection, index=False, if_exists='append')
    
    connection.close()

#### Populate MongoDB with Source Data
You only need to run this cell once; however, the operation is *idempotent*.  In other words, it can be run multiple times without changing the end result.

In [4]:
client = pymongo.MongoClient(conn_str["local"])
db = client[src_dbname]

# Gets the path of the Current Working Directory for this Notebook, and then Appends the 'data' directory.
data_dir = os.path.join(os.getcwd(), 'data')

json_files = {"customer" : 'customer.json',
             "products" : "products.json"}

for file in json_files:
    db.drop_collection(file)
    json_file = os.path.join(data_dir, json_files[file])
    with open(json_file, 'r') as openfile:
        json_object = json.load(openfile)
        file = db[file]
        result = file.insert_many(json_object)
        #print(f"{file} was successfully loaded.")

        
client.close()

### 1.0. Create and Populate the New Dimension Tables
#### 1.1. Extract Data from the Source MongoDB Collections Into DataFrames

In [5]:
query = {}
collection = "customer"

df_customer = get_mongo_dataframe(conn_str['local'], src_dbname, collection, query)
df_customer.head(2)

,﻿Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.8,Tamil Nadu

#### 1.2. Perform Any Necessary Transformations to the DataFrames

In [6]:
df_customer.rename(columns={"Order ID":"order_key",
                             "Customer Name":"customer_name",
                             "Category":"category",
                             "Sub Category":"sub_category",
                             "City":"city",
                             "Order Date":"order_date",
                             "Region":"region",
                             "Sales":"sales",
                             "Discount":"discount",
                             "Profit":"profit",
                             "State":"state",
                            }, inplace=True)
df_customer = df_customer.drop(df_customer.columns[0], 1)
df_customer.insert(0, "order_key", range(1, df_customer.shape[0]+1))
df_customer.head(2)

C:\Users\ds2002-02-student\AppData\Local\Temp\2\ipykernel_1820\2172527900.py:13: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_customer = df_customer.drop(df_customer.columns[0], 1)

,order_key,customer_name,category,sub_category,city,order_date,region,sales,discount,profit,state
0,1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.8,Tamil Nadu

In [7]:
#print(df_customer["order_date"][0])
#print(len(df_customer))
for i in range(len(df_customer)):
    m, d, y = df_customer["order_date"][i].replace('/', '-').split('-')
    df_customer["order_date"][i] = y + '-' + m + '-' + d
    #print(i)
# This takes a while but works eventually
df_customer.head(2)

C:\Users\ds2002-02-student\AppData\Local\Temp\2\ipykernel_1820\1207755437.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_customer["order_date"][i] = y + '-' + m + '-' + d

,order_key,customer_name,category,sub_category,city,order_date,region,sales,discount,profit,state
0,1,Harish,Oil & Masala,Masalas,Vellore,2017-11-08,North,1254,0.12,401.28,Tamil Nadu
1,2,Sudha,Beverages,Health Drinks,Krishnagiri,2017-11-08,South,749,0.18,149.8,Tamil Nadu

#### 1.3. Load the Transformed DataFrames into the New Data Warehouse by Creating New Tables

Here we will call our **set_dataframe( )** function to create each dimension table. This function expects a number of parameters including the usual connection information (e.g., user_id, password, MySQL server name and database), the *table_name* we need to assign to the table, the *pandas DataFrame* we crafted to define & populate the table, the *name* we need to assign to the *primary_key* column, and finally, the database operation (insert or update).

In [8]:
dataframe = df_customer
table_name = 'customer'
primary_key = 'order_key'
db_operation = "insert"
set_dataframe(mysql_uid, mysql_pwd, dst_dbname, dataframe, table_name, primary_key, db_operation)
#This code chunk takes a while, I'm not sure why and I couldn't fix it. It works eventually tho

#### 1.4. Validate that the New Dimension Tables were Created.

In [9]:
sql_customer = "SELECT * FROM supermart.customer;"
df_customer = get_sql_dataframe(mysql_uid, mysql_pwd, dst_dbname, sql_customer)
df_customer.head(2)

,order_key,customer_name,category,sub_category,city,order_date,region,sales,discount,profit,state
0,1,Harish,Oil & Masala,Masalas,Vellore,2017-11-08,North,1254,0.12,401.28,Tamil Nadu
1,2,Sudha,Beverages,Health Drinks,Krishnagiri,2017-11-08,South,749,0.18,149.8,Tamil Nadu

### 2.0. Create and Populate the New Fact Tables
#### 2.1. Extract Data from the Source MongoDB Collections Into DataFrames

In [19]:
query = {} # Select all elements (columns), and all documents (rows).

collection = "products"

df_products = get_mongo_dataframe(conn_str['local'], src_dbname, collection, query)
df_products.head(2)

,Name,Brand,Price,DiscountedPrice,Category,SubCategory,Quantity,Description,BreadCrumbs
0,Premia Badam (Almonds),Premia,451,329,Grocery,Grocery/Dry Fruits,500 gm,India,Grocery > Grocery/Dry Fruits
1,Premia Badam (Almonds),Premia,109,85,Grocery,Grocery/Dry Fruits,100 gm,India,Grocery > Grocery/Dry Fruits

#### 2.2. Perform Any Necessary Transformations to the DataFrames

In [20]:
column_name_map = {"Name" : "name",
                   "Brand" : "brand",
                   "Price" : "price",
                   "DiscountedPrice" : "discounted_price",
                   "Category" : "category",
                   "SubCategory" : "sub_category",
                   "Quantity" : "quantity",
                  }

df_products.rename(columns=column_name_map, inplace=True)
df_products.insert(0, "product_key", range(1, df_products.shape[0]+1))

In [12]:
df_products = df_products.drop("Description", 1)
df_products = df_products.drop("BreadCrumbs", 1)
df_products

C:\Users\ds2002-02-student\AppData\Local\Temp\2\ipykernel_1820\2106963794.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_products = df_products.drop("Description", 1)
C:\Users\ds2002-02-student\AppData\Local\Temp\2\ipykernel_1820\2106963794.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_products = df_products.drop("BreadCrumbs", 1)

,product_key,name,brand,price,discounted_price,category,sub_category,quantity
0,1,Premia Badam (Almonds),Premia,451,329,Grocery,Grocery/Dry Fruits,500 gm
1,2,Premia Badam (Almonds),Premia,109,85,Grocery,Grocery/Dry Fruits,100 gm
2,3,Premia Badam (Almonds),Premia,202,175,Grocery,Grocery/Dry Fruits,200 gm
3,4,Nutraj California Almonds (Badam),Nutraj,599,349,Grocery,Dry Fruits,500 gm
4,5,Nutraj California Almonds (Badam),Nutraj,1549,659,Grocery,Dry Fruits,1 kg
...,...,...,...,...,...,...,...,...
3638,3639,Lotus Herbals Nutranite Night Creme,Lotus,455,341,Beauty & Cosmetics,Beauty & Cosmetics/Skin Care,50 gm
3639,3640,Lakme Absolute Hydra Pro Overnight Gel,Lakme,749,599,Beauty & Cosmetics,Beauty & Cosmetics/Skin Care,50 gm
3640,3641,Faces Canada Hydro Face Moisturizer,Faces Canada,599,335,Beauty & Cosmetics,Face Care,100 ml
3641,3642,Lakme Absolute Perfect Radiance Facial Foam,Pond's,530,344,Beauty & Cosmetics,Beauty & Cosmetics/Skin Care,130 ml
3642,3643,Lakme Youth Infinity Skin Firming Night Cream,Lakme,999,643,Beauty & Cosmetics,Beauty & Cosmetics/Skin Care,50 gm

#### 2.3. Load Newly Transformed MongoDB Data into the Northwind_DW2 Data Warehouse

In [13]:
dataframe = df_products
table_name = 'products'
primary_key = 'product_key'
db_operation = "insert"

set_dataframe(mysql_uid, mysql_pwd, dst_dbname, dataframe, table_name, primary_key, db_operation)

#### 2.4. Validate that the New Fact Tables were Created

In [14]:
# TODO: Validate the correctness of the new "Inventory Transactions" fact table.
sql_products = "SELECT * FROM supermart.products;"
df_products = get_sql_dataframe(mysql_uid, mysql_pwd, dst_dbname, sql_products)
df_products.head(2)

,product_key,name,brand,price,discounted_price,category,sub_category,quantity
0,1,Premia Badam (Almonds),Premia,451,329,Grocery,Grocery/Dry Fruits,500 gm
1,2,Premia Badam (Almonds),Premia,109,85,Grocery,Grocery/Dry Fruits,100 gm

#### 2.5. Date Dimension

In [15]:
sql_dim_date = "SELECT date_key, full_date FROM supermart.dim_date;"
df_dim_date = get_sql_dataframe(mysql_uid, mysql_pwd, dst_dbname, sql_dim_date)
df_dim_date.full_date = df_dim_date.full_date.astype('datetime64')
df_dim_date.head(2)

   date_key  full_date
0  20150101 2015-01-01
1  20150102 2015-01-02

In [16]:
df_customer["order_date"] = pd.to_datetime(df_customer["order_date"])
df_customer.dtypes

order_key                 int64
customer_name            object
category                 object
sub_category             object
city                     object
order_date       datetime64[ns]
region                   object
sales                    object
discount                 object
profit                   object
state                    object
dtype: object

In [18]:
df_dim_order_date = df_dim_date.rename(columns={"date_key" : "order_date_key", "full_date" : "order_date"})
df_customer = pd.merge(df_customer, df_dim_order_date, on='order_date', how='inner')
df_customer.drop(['order_date'], axis=1, inplace=True)
df_customer.head(2)

KeyError: 'order_date'

In [24]:
df_customer.head(55)

,order_key,customer_name,category,sub_category,city,region,sales,discount,profit,state,order_date_key
0,1,Harish,Oil & Masala,Masalas,Vellore,North,1254,0.12,401.28,Tamil Nadu,20171108
1,2,Sudha,Beverages,Health Drinks,Krishnagiri,South,749,0.18,149.8,Tamil Nadu,20171108
2,3,Hussain,Food Grains,Atta & Flour,Perambalur,West,2360,0.21,165.2,Tamil Nadu,20170612
3,80,Veena,Fruits & Veggies,Organic Fruits,Chennai,South,2303,0.26,621.81,Tamil Nadu,20170612
4,81,Kumar,Beverages,Health Drinks,Kanyakumari,South,2027,0.34,912.15,Tamil Nadu,20170612
5,120,Ganesh,"Eggs, Meat & Fish",Chicken,Cumbum,East,1235,0.12,74.1,Tamil Nadu,20170612
6,121,Alan,Fruits & Veggies,Organic Vegetables,Tirunelveli,East,1243,0.24,174.02,Tamil Nadu,20170612
7,122,Harish,Bakery,Cakes,Krishnagiri,East,649,0.34,201.19,Tamil Nadu,20170612
8,123,Veronica,"Eggs, Meat & Fish",Mutton,Tenkasi,East,2354,0.11,188.32,Tamil Nadu,20170612
9,124,Anu,Beverages,Soft Drinks,Cumbum,East,1443,0.27,187.59,Tamil Nadu,20170612
10,437,Ram,"Eggs, Meat & Fish",Eggs,Dharmapuri,Central,2200,0.1,792,Tamil Nadu,20170612
11,438,Aditi,Snacks,Noodles,Tenkasi,Central,861,0.25,258.3,Tamil Nadu,20170612
12,3413,Rumaiza,Snacks,Noodles,Trichy,Central,2023,0.34,627.13,Tamil Nadu,20170612
13,4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,South,896,0.25,89.6,Tamil Nadu,20161011
14,5,Ridhesh,Food Grains,Organic Staples,Ooty,South,2355,0.26,918.45,Tamil Nadu,20161011
15,6,Adavan,Food Grains,Organic Staples,Dharmapuri,West,2305,0.26,322.7,Tamil Nadu,20150609
16,7,Jonas,Fruits & Veggies,Fresh Vegetables,Trichy,West,826,0.33,346.92,Tamil Nadu,20150609
17,8,Hafiz,Fruits & Veggies,Fresh Fruits,Ramanadhapuram,West,1847,0.32,147.76,Tamil Nadu,20150609
18,9,Hafiz,Bakery,Biscuits,Tirunelveli,West,791,0.23,181.93,Tamil Nadu,20150609
19,10,Krithika,Bakery,Cakes,Chennai,West,1795,0.27,484.65,Tamil Nadu,20150609
20,11,Ganesh,Snacks,Chocolates,Karur,West,1903,0.13,437.69,Tamil Nadu,20150609
21,12,Yadav,"Eggs, Meat & Fish",Eggs,Namakkal,West,701,0.1,308.44,Tamil Nadu,20150609
22,489,Haseena,Snacks,Cookies,Ramanadhapuram,Central,1637,0.3,572.95,Tamil Nadu,20150609
23,490,Vidya,Snacks,Chocolates,Ramanadhapuram,Central,2232,0.1,870.48,Tamil Nadu,20150609
24,491,Amy,Bakery,Cakes,Tirunelveli,Central,1917,0.22,843.48,Tamil Nadu,20150609
25,861,Hafiz,Food Grains,Atta & Flour,Viluppuram,West,1426,0.18,570.4,Tamil Nadu,20150609
26,862,Ramesh,Bakery,Breads & Buns,Karur,West,1263,0.13,88.41,Tamil Nadu,20150609
27,1335,Willams,Bakery,Cakes,Karur,South,697,0.22,132.43,Tamil Nadu,20150609
28,13,Sharon,Snacks,Cookies,Dindigul,South,1659,0.19,315.21,Tamil Nadu,20180415
29,309,Esther,Snacks,Cookies,Tenkasi,South,590,0.27,200.6,Tamil Nadu,20180415
30,14,Peer,Fruits & Veggies,Fresh Vegetables,Kanyakumari,West,1277,0.25,63.85,Tamil Nadu,20171205
31,148,Harish,Fruits & Veggies,Fresh Vegetables,Tirunelveli,Central,1125,0.33,292.5,Tamil Nadu,20171205
32,149,Veronica,Beverages,Health Drinks,Tenkasi,Central,768,0.1,184.32,Tamil Nadu,20171205
33,150,Ravi,"Eggs, Meat & Fish",Fish,Vellore,Central,1985,0.26,734.45,Tamil Nadu,20171205
34,151,Muneer,Food Grains,Rice,Bodi,Central,2287,0.13,1029.15,Tamil Nadu,20171205
35,1083,Yadav,Food Grains,Atta & Flour,Tenkasi,South,859,0.34,180.39,Tamil Nadu,20171205
36,2758,Veena,"Eggs, Meat & Fish",Mutton,Karur,East,1992,0.28,418.32,Tamil Nadu,20171205
37,2911,Sudeep,Oil & Masala,Spices,Viluppuram,South,2100,0.14,315,Tamil Nadu,20171205
38,15,Sundar,"Eggs, Meat & Fish",Chicken,Kanyakumari,Central,831,0.22,207.75,Tamil Nadu,20161122
39,16,Ramesh,Oil & Masala,Edible Oil & Ghee,Krishnagiri,Central,1440,0.11,100.8,Tamil Nadu,20161122
40,2987,Malik,Snacks,Cookies,Madurai,West,1449,0.15,623.07,Tamil Nadu,20161122
41,3024,Sharon,Snacks,Chocolates,Ramanadhapuram,West,1174,0.16,117.4,Tamil Nadu,20161122
42,3072,Komal,"Eggs, Meat & Fish",Eggs,Ooty,West,1869,0.1,485.94,Tamil Nadu,20161122
43,17,Alan,Bakery,Cakes,Dharmapuri,Central,1678,0.28,318.82,Tamil Nadu,20151111
44,982,Ram,Food Grains,Dals & Pulses,Dharmapuri,West,911,0.24,91.1,Tamil Nadu,20151111
45,983,Haseena,Oil & Masala,Edible Oil & Ghee,Dindigul,West,1722,0.21,154.98,Tamil Nadu,20151111
46,984,Ram,Beverages,Soft Drinks,Chennai,West,1660,0.33,315.4,Tamil Nadu,20151111
47,1488,Suresh,"Eggs, Meat & Fish",Fish,Salem,Central,1493,0.16,477.76,Tamil Nadu,20151111
48,1526,Verma,Snacks,Noodles,Dindigul,Central,1612,0.18,435.24,Tamil Nadu,20151111
49,1908,Vidya,"Eggs, Meat & Fish",Mutton,Ramanadhapuram,West,2213,0.22,840.94,Tamil Nadu,20151111
50,3355,Hussain,Snacks,Cookies,Namakkal,Central,722,0.33,317.68,Tamil Nadu,20151111
51,3418,Veena,Beverages,Health Drinks,Ooty,Central,1676,0.32,150.84,Tamil Nadu,20151111
52,3443,Ridhesh,Snacks,Noodles,Nagercoil,Central,2099,0.12,860.59,Tamil Nadu,20151111
53,3460,Jonas,Food Grains,Dals & Pulses,Theni,Central,739,0.12,88.68,Tamil Nadu,20151111
54,3543,Arutra,"Eggs, Meat & Fish",Mutton,Cumbum,Central,2068,0.24,558.36,Tamil Nadu,20151111